@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
 
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

#app-root {
    display: flex; 
    align-items: center;
    min-height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: rgba(29, 30, 45, 255); 
}

.sidebar {
    width: 80px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10px;
    /* background-color: rgba(33,35,48,255); */
}

.sidebar-logo {
    color: white;
    height: 40px;
    font-size: 30px;
    /* o padding anterior, sem a "logo" era de 70px!!! */
    padding-top: 10px;
}

.sidebar-buttons {
    width: 60px;
    margin-top: 20px;
    /* background-color: black; */
}

.sidebar-mini-buttons {
    width: 100%;
    margin-top: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebar-button {
    display: inline-block;
    width: 60px;
    height: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    user-select: none;
    color: white;
    background-color: transparent;
    margin-bottom: 10px;
    border: none;
    border-radius: 6px;
    line-height: 16px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    z-index: 1;
    transition: background-color .3s ease;
}

.sidebar-mini-button {
    display: flex;
    justify-content: center;
    width: 25px;
    height: 25px;
    font-size: 20px;
    cursor: pointer;
    color: black;
    background-color: transparent;
    border: none;
    margin: 3px;
    color: white;
}   

.sidebar-button:hover {
    background-color: rgba(41,96,192,255);
}

.sidebar-button-icon {
    font-size: 24px;
}

.sidebar-menu-body {
    position: fixed;
    left: 80px;
    width: 250px;
    height: 100vh;
    display: none;
}

.sidebar-menu-body.showing {
    display: flex;
}

.menu-body-main {
    display: flex;
    flex-direction: column;
    flex-shrink: 1;
    width: 100%;
    height: 100%;
    padding: 10px;
}

.app-page {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: 100vh;
    transition: all .3s ease;
}

.page-header {
    display: flex;
    justify-content: space-between;
    height: 40px;
    margin: 10px 10px 0;
    /* background-color: gray; */
}

.temp-div {
    width: 250px;
    height: 100%;
    /* background-color: purple; */
}

.page-body {
    display: flex;
    flex-grow: 1;
    flex-shrink: 0;
    margin: 10px;
}

.trading-chart {
    display: flex;
    flex-grow: 1;
    height: 100%;
    background-color: rgba(33,35,48,255);
    position: relative;
}

.page-sidebar {
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 100%;
    margin-left: 10px;
    border-radius: 10px;
}

.sidebar-section{
    display: flex;
    flex-grow: 1;
    background-color: rgba(33,35,48,255);
    border-radius: 10px;
}

#sidebar-upper-section {
    height: 400px;
    flex-grow: 0;
    margin-bottom: 10px;
}

.inner-border {
    position: absolute;
    top: 0px; /* Espessura da borda interna */
    left: 0px;
    right: 0px;
    bottom: 0px;
    border: 2px solid rgba(29, 30, 45, 255); /* Cor da borda interna */
    box-sizing: border-box;
    pointer-events: none;
}