.itens-menus {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.menu.active {
    /* left: 0px; */
    left: 0px;
    opacity: 100%;
}

.menu.l.active {
    left: 270px;
    opacity: 100%;
}

.menu {
    position: inherit;
    left: -310px;
    width: 620px;
    height: 100vh;
    background: transparent;
    /* acho que posso remover a transição de opacidade */
    opacity: 0%; 
    display: flex;
    flex-direction: column;
    overflow: hidden;
    transition: all 0.3s ease;
}

.headbar {
    padding: 8px;
    height: 40px;
    width: 100%;
    background-color: transparent;
    border-bottom: 1px solid rgb(55, 58, 69, 0.7);
    border-top: 1px solid rgb(55, 58, 69, 1);
}

.close {
    top: 40px;
    position: absolute;
    left: 559px;
    width: 60px;
    height: 60px;
    align-items: center;
    justify-content: center;
    z-index: 5;
}

.close-button {
    width: 100%;
    height: 100%;
    font-size: 2.5rem; 
    background-color: #d1d4dc;
    border: none;
    border-bottom-left-radius: 15px;
    cursor: pointer;
}

.close-icon {
    width: 100%;
    height: 100%;
    color: #202324;
    transition: all .3s ease;
}

.close-icon:hover {
    color: red;
}

.user {
    top: 40px;
    position: inherit;
    transform: translateX(-620px);
    background-color: rgba(41, 41, 41, 0.7);
    backdrop-filter: blur(5px);
    width: 620px;
    height: 100vh;
    /* opacity: 40%; */
    display: flex;
    flex-direction: column;
    transition: all 0.3s ease;
}

.config {
    top: 40px;
    position: inherit;
    transform: translateX(-620px);
    background-color: white;
    width: 620px;
    height: 100vh;
    opacity: 60%;
    /* display: none; */
    transition: all 0.3s ease;
}

.user.active {
    transform: translateX(0px);
}

.config.active {
    transform: translateX(0px)
}

.section {
    width: 620px;
    height: 33%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.avatar {
    width: 150px;
    height: 150px;
    background-color: pink;
    border-radius: 50%;
}